include LICENSE
include README.md
include CHANGELOG.md
include pyrava/py.typed
recursive-include examples *.py
recursive-include tests *.py
prune build
prune dist
global-exclude __pycache__ *.py[cod]
